{{!-- en-tête --}}
<div class="container">
    <h1>Full-stack Developer</h1>
    <p>I am new in this game and I am looking for opportunities and challenge.</p>
</div>
{{!-- la présentation --}}
<div class="container">
    <div class="col">
        <h1>Hello, my name is Marina.</h1>
        <p>I begin my journey as web Developer after an amazing bootcamp with Ironhack. During this bootcamp I created a
            game and two applications in collaboration. You are welcome to check my projects below.I love coding, I'm
            curious about everything and currently learning new languages.</p>
    </div>

{{!-- présentation des skills --}}
    <div class="container">
        <div class="cols-2 ">
            <div>
                <div class="row ">
                    <h2 class="col">Front-end Developer</h2>
                    <h2 class="col">Back-end Developer</h2>
                </div>

                <div class="row">
                    <div class="col">
                        <h3>Languages</h3>
                        <p>JavaScript, HTML, CSS, React </p>
                        <h3>Dev Tools</h3>
                        <p>Codepen, Github</p>
                    </div>

                    <div class="col">
                        <h3>Frameworks and environment </h3>
                        <p>ExpressJS, NodeJS</p>
                        <h3>Dev Tools</h3>
                        <p>MongoDB, Mongoose</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

{{!-- Carrousel partials --}}
<div class="container">
    <h1>Project</h1>
    {{> carouselProject}}
    
</div>