{{!-- en-tête --}}
<div class="text-center">

    <div class="container-fluid background-header">
        <h1>I am new in this game and I am looking for opportunities and challenges.</h1>
        <div class="col">
            <h2>About me</h2>
            <p>I begin my journey as web Developer after a bootcamp with Ironhack Paris. During this bootcamp I learned
                back
                and front-end and I created a
                game and two applications in collaboration. You are welcome to check my projects below. <br>I love
                coding.
                I'm
                curious about everything and currently learning new languages.</p>
        </div>
    </div>
    {{!-- la présentation --}}
    <div class="container-fluid skills">


        {{!-- présentation des skills --}}
        <div class=" cols-2 ">


            <div class="row ">
                <h3 class="col">Front-end Developer</h3>
                <h3 class="col">Back-end Developer</h3>
            </div>

            <div class="row">
                <div class="col">
                    <h4>Languages</h4>
                    <p>JavaScript, HTML, CSS, React </p>
                    <h4>Dev Tools</h4>
                    <p>Codepen, Github</p>
                </div>

                <div class="col">
                    <h4>Frameworks and environment </h4>
                    <p>ExpressJS, NodeJS</p>
                    <h4>Dev Tools</h4>
                    <p>MongoDB, Mongoose</p>
                </div>
            </div>


        </div>

    </div>

    {{!-- Carrousel partials --}}
    <div class="container-fluid">
        <h1>Project</h1>
        {{> carouselProject}}

    </div>
</div>