<div class="text-center">
    <div class=" presentation d-flex flex-column justify-content-center align-items-center">
        <h1 class="title-presentation mt-5">Hello! I am Marina FUXA,<br>a french Full-stack developer jr.</h1>

        <img class="img-fluid mb-5" src="/public/image/avatarMakowka1.png" alt="Marina's avatar" />
    </div>
    <div class="container mt-5">
        <h2 class="mb-5">Check my work/ Viens voir mon travail:</h2>
        <div class="d-grid d-md-flex justify-content-around">
            <a  class="btn btn-outline-primary btn-lg" href="/english" role="button">English</a>
            <a class="btn btn-outline-primary btn-lg" href="/french" role="button">Français</a>
        </div>
    </div>

</div>