<div class="text-center index">
    <div class=" d-flex flex-column justify-content-center align-items-center">
        <h1 class="title-index mt-5">Hello! I am Marina FUXA,<br>a french Full-stack developer jr.</h1>

        <img class="img-fluid mb-5 h-50 w-25" src="/public/image/avatarMakowka1.png" alt="Marina's avatar" />
           <h2 class="mb-5">Check my works / Mes projets:</h2>
        <div class="check-work mb-5">
            <a  class="btn btn-outline-primary btn-lg" href="/english" role="button">English</a>
            <a class="btn btn-outline-primary btn-lg" href="/french" role="button">Français</a>
        </div>
    </div>


</div>