
<div>
    <h1>Hello <br> my name is Marina FUXA.</h1>
    <h3>Full-stack developer jr</h3>
    <img src="/public/image/avatarMakowka1.png" alt="Marina's avatar"/>
    <div>
        <h3>Check my work/ Viens voir mon travail:</h3>
        <h4><a href="/english">English</a></h4>
        <h4><a href="/french">Français</a></h4>
    </div>

</div>