
/*index css*/
.presentation {
  background-image: url(/public/image/wolfgang-hasselmann-FI7hC_1D_CM-unsplash.jpg);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
 
 
}

.title-presentation{
  font-size: 4em;
}


/*hauteur et largeur des images dans le carousel*/
.carousel-item > img {
  width: 100%;
  height: auto;
}

/*responsive carousel*/
/* @media (max-width: 767px) {
  .carousel-control-prev,
  .carousel-control-next {
    display: none;
  }
} */


