@font-face {
    font-family: roboto-condensed;
    src: url("/public/font/RobotoCondensed-Regular.ttf");
}

@font-face{
  font-family: courgette;
  src: url("/public/font/Courgette-Regular.ttf")
}

*{
  font-family: "roboto-condensed";
}

/*responsive nav-bar*/
@media (max-width: 989px) {
  .collapse {
    display: inline-block;
  }
}

/*index css*/
.index {
  background-image: url(/public/image/wolfgang-hasselmann-FI7hC_1D_CM-unsplash.jpg);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

.title-index {
  font-size: 4em;
  font-family: "courgette";
}

.check-work > a {
  background-image: url(https://media.giphy.com/media/d5PPYjcb3caPTHM3hv/giphy.gif);
  background-size: cover;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
  font-size: 40px;
  line-height: 0.75;
}
.btn {
  border-color: rgb(82, 82, 211);
}

@media (max-width: 776px) {
  .title-index {
    font-size: 2em;
  }
  .index h2 {
    font-size: 1.5em;
  }

  .check-work > a {
    font-size: 20px;
  }
}

/*Project page*/

.title-h2 {
  font-size: 2.5em;
}

.line-separator {
  border-top: 2px solid black;
  width: 400px;
}

/*section 1*/
.header-presentation {
  height: 80vh;
}

.header-presentation h1 {
  font-size: 3.5em;
  line-height: 1.5em;
}

.about {
  line-height: 2em;
}

/*section 2*/

.skill-list img {
  height: 150px;
  width: 200px;
}

.skill-list ul {
  list-style: none;
  padding: 0;
}

.skill-list li {
  margin-bottom: 20px;
}

/*section 3: carousel*/

.carousel-item video {
  width: 80vw;
}

.carousel-caption {
  background: rgba(7, 7, 7, 0.7);
  margin-bottom: 15px;
}

.description{
  margin-left: 100px;
  margin-right: 100px;
}

/*responsive projet*/
@media (max-width: 776px) {

  .header-presentation {
    height: 100%;
  }
  .header-presentation h1 {
    font-size: 2em;
  }
  .title-h2 {
    font-size: 1.5em;
  }
  .skill-list img {
    height: 100px;
    width: 150px;
  }
  .skill-list h3 {
    font-size: 1em;
    font-weight: bold;
  }
}
